<h1>GCCG</h1>

<h2><%= calendar.title %></h2>
<div>
  <p><%= calendar.starts_on %>〜<%= calendar.ends_on %></p>
</div>

<div>
  <%= link_to 'カレンダーをなおす', routes.edit_calendar_path(calendar.id) %>
</div>

<%=
  form_for :calendar, routes.calendar_path(calendar.id), method: :delete, id: 'calendar-delete-form' do
    submit 'カレンダーを消す'
  end
%>
